<!--    Team Webelistics®  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2023/08/31'     -->

<!--gm 03.html  -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/index.css" />
    <link rel="shortcut icon" href="/src/images/tw_brackets.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script type="module" src="/src/js/index.js" content="text/javascript"></script>
    <title>Pagination in HTML CSS & JavaScript</title>
</head>

<body>

    <header id="header" class="header">
        <img src="/src/images/tw_brackets.svg" class="header-image" alt="Team Webelistics® Logo" />
        <h1 id="headerH1" class="header-h1">Team Webelistics<sup class="register">®</sup></h1>
        <h4 id="headerH4" class="header-h4">Page 03</h4>
    </header>

    <div class="container">
        <button class="button" id="startBtn" disabled>
            <i class="fa-solid fa-angles-left"></i>
        </button>
        <button class="button prevNext" id="prev" disabled>
            <i class="fa-solid fa-angle-left"></i>
        </button>

        <div class="links">
            <a href="/views/index.html" class="link active">1</a>
            <a href="/views/02.html" class="link">2</a>
            <a href="/views/03.html" class="link">3</a>
            <a href="/views/04.html" class="link">4</a>
            <a href="/views/05.html" class="link">5</a>
        </div>

        <button class="button prevNext" id="next">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        <button class="button" id="endBtn">
            <i class="fa-solid fa-angles-right"></i>
        </button>
    </div>
</body>

</html>